<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>轮播图管理</title>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../res/css/font.css" />
    <link rel="stylesheet" href="../res/css/xadmin.css" />
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../res/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../res/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
          <button class="layui-btn layui-btn layui-btn-xs" th:onclick="|x_admin_show('新增','/Photo/addView')|" >新增</button>
      </div>
      <xblock>
      </xblock>
      <table class="layui-table layui-form">
        <thead>
          <tr>
            <th width="70">ID</th>
            <th width="100">轮播图名称</th>
            <th width="50">图片</th>
            <th width="220">操作</th>
          </tr>
        </thead>
        <tbody class="x-cate">
        <tr th:each="items : ${Photo}" cate-id='1' fid='0'>
            <td th:text="${items.id}">2.41</td>
            <td th:text="${items.name}">Onions</td>
            <td>
              <img th:src="@{'http://rswjbmw0b.hb-bkt.clouddn.com/'+${items.image}}"/>
            </td>
            <td class="td-manage">
              <a th:href="@{'/Photo/delete?id='+${items.id}}">
              <button class="layui-btn layui-btn layui-btn-xs"><i class="layui-icon">&#xe642;</i>删除</button>
            </a>
            </td>
        </tr>
        </tbody>
      </table>
    </div>
    <style type="text/css">
      
    </style>
    <script>
      layui.use(['form'], function(){
        form = layui.form;
        
      });

      

      /*用户-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
              $.ajax({
                  type:'post',
                  url:'/Title/deleteOneFirst',
                  data:{id:id},
                  success:function(){
              $(obj).parents("tr").remove();
              layer.msg('已删除!',{icon:1,time:1000});

                  },
                  error:function(){
                      layer.msg('删除失败!',{icon:1,time:1000});
                  }
              })

              //发异步删除数据
          });
      }



      function delAll (argument) {

        var data = tableCheck.getData();
  
        layer.confirm('确认要删除吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
      }
    </script>
    <script>var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();</script>
  </body>

</html>